.container {
	max-width: 450px;
	display: flex;
	align-items: center;
	gap: 16px;
}

.label {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	flex: 1 1 auto;
	span {
		font-weight: 700;
		font-size: 10px;
		line-height: 120%;
		letter-spacing: -0.02em;
	}
}

.textArea {
	border: none;
	background: transparent;
	color: var(--main-color);
	resize: none;
	padding: 0;
	height: auto;
	// max-height: 100px;
	overflow: hidden;
	outline: none;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: -0.02em;
	border-bottom: 1px solid var(--input-border-color);
	transition: all 0.3s ease;
	scrollbar-width: thin;
	transition: max-height 1.5s;
	&.errorBorder {
		border-color: #ff5620;
	}
	// &:focus {
	// 	max-height: 300px;
	// }
}

.error {
	display: block;
	font-size: 10px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: #ff5620;
}
